.xpage-container .xpage-moreButton,
.xpage-container .xpage-more-tip{
    text-align: center;
    cursor: pointer;
}
.xpage-pagination {
    text-align: center;
    margin: 20px auto;
}
.xpage-pagination span{
    display: inline-block;
    line-height: 2em;
    margin-left:3px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.xpage-pagination span a {
    display: block;
    padding-left:0.5em;
    padding-right:0.5em;
    min-width: 1em;
}

.xpage-pagination span:hover, .xpage-pagination .xpage-pagination-pager-active{
    border-color: #00c;
}
.xpage-pagination span:hover a, .xpage-pagination .xpage-pagination-pager-active{
    color: #00c;
}